@font-face {
  font-family: 'braun';
  src: url('src/fonts/BraunLinear-Thin.ttf') format('truetype'); /* Replace 'path/to/your/font.ttf' with the actual path to your font file */
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.side-section {

  font-family: 'braun', sans-serif; 
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 4px;
  flex: 0 0 28%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items at the start of the column */
  justify-content: flex-start;

}

.side-section h2 {
  font-size: 100px;
  color: red;
  font-family: braun, sans-serif; 
 
}

.side-section ul {
  font-size: 28;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.side-section ul li a {
  font-size: 28;
  color: red; /* Set link color to blue */
  text-decoration: none;
}

.side-section ul li a:hover {
  text-decoration: underline;
}


.image-section {

  flex: 1;
  background-color: black;
  overflow-y: scroll;
  display: flex;
  justify-content:flex-start;
  padding: 10px;
}

.gallery {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  width: 100%;
}

.gallery-image {
  width: 100%;
  aspect-ratio: 4/3; /* Maintain 4:3 aspect ratio */
  border-radius: 0px;
  cursor: pointer;
  filter: grayscale(100%) brightness(10%);
  transition: filter 0.2s ease, transform 0.2s ease, z-index 0s 0.2s;
  z-index: 0;
  transform: translateZ(0); /* Trigger hardware acceleration */
}

.gallery-image:hover,
.gallery-image:focus {
  filter: none;
  transform: scale(1.25) translateZ(0); /* Trigger hardware acceleration */
  z-index: 1;
  transition: filter 0.2s ease, transform 0.2s ease, z-index 0s 0s;
}

.gallery-image.active {
  filter: none;
  transform: scale(1.25) translateZ(0); /* Trigger hardware acceleration */
  z-index: 2;
}

.gallery-image:not(:hover):not(:focus) {
  filter: grayscale(100%) blur(2px) brightness(30%);
  transition: filter 0.2s ease, transform 0.2s ease;
}

/* Modal styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 10; 
  /* padding-top: 160px; */
  align-content: center; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 75%;
  animation-name: zoom;
  animation-duration: 0.9s;
}

@keyframes zoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: grey;
  font-size: 64px;
  font-weight: normal;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
